@use "../../../../scss/colors" as *;

.app-results-table {
  border-radius: 4px;
  overflow: scroll;
}

.results-table-container {
  overflow: scroll;
  border-radius: 4px;
  height: 100%;
}

.results-table {
  width: 100%;
  overflow: scroll;
  background-color: $dm-black-02;
  border: 1px solid $dm-black-02;
  border-radius: 4px;
}

.results-table-header {
  border-bottom: 1px solid $dm-500;
  width: 100%;
  display: grid;
  grid-column: 1fr;
  overflow-y: scroll;
}

.results-table-header-label {
  width: 300px;
  max-width: 300px;
  padding: 16px 16px;
  color: $dm-100;
  text-align: left;
  font-weight: 600;
}

.results-table-body {
  // width: 100%;
  display: grid;
  grid-column: 1fr;
  overflow: scroll;
  border-radius: 0px 0px 4px 4px;
}

.results-table-body-row {
  border-bottom: 1px solid $dm-500;
  width: 100%;
  display: flex;
  background-color: $dm-black-01;
}

.results-table-body-row:hover {
  background-color: $dm-black-02;
  border-bottom: 1px solid var(--slate-800);
}

.results-table-body-data {
  width: 300px;
  max-width: 300px;
  padding: 16px 16px;
  cursor: pointer;
}

.results-table-body-data p {
  width: 100%;
  color: var(--slate-400);
  display: block;
}
