<table class="results-table">
  <thead class="results-table-header">
    <tr class="results-table-header-row">
      <th class="results-table-header-label" *ngFor="let header of headers">
        {{ header.label }}
      </th>
    </tr>
  </thead>
  <tbody class="results-table-body">
    <tr *ngFor="let record of data" class="results-table-body-row">
      <td class="results-table-body-data" *ngFor="let header of headers">
        <p>
          {{
            !record[header.key][header.subKey!]
              ? record[header.key]
              : record[header.key][header.subKey!]
          }}
        </p>
      </td>
    </tr>
  </tbody>
</table>
