<header>
  <nav>
    <div class="logo">
      <img src="/assets/opal-logo.svg" />
      <a routerLink="/"> OPAL </a>
    </div>

    <div class="nav-links">
      <a routerLink="/login" class="btn secondary">Login</a>
      <a routerLink="/signup" class="btn primary">Register</a>
    </div>
  </nav>
</header>
