:host {
  top: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  backdrop-filter: blur(15px);
  background-color: rgba(11, 12, 20, 0.5);
}

header {
  backdrop-filter: blur(15px);
  width: 100%;
  background-color: rgba(11, 12, 20, 0.5);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border);

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;

    .nav-links {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;

  a {
    color: var(--slate-200);
    letter-spacing: 4px;
  }

  img {
    height: 40px;
  }
}
