<footer>
  <p>Made by Kaz</p>

  <ul class="socials">
    <li>
      <a href="https://github.com/kazmonroy">
        <i-feather name="github"></i-feather>
      </a>
    </li>
    <li>
      <a href="https://gitlab.com/kazmonroy/opal-frontend">
        <i-feather name="gitlab"></i-feather>
      </a>
    </li>
    <li><a href=""></a></li>
  </ul>
</footer>
