footer {
  padding: 1rem;
  color: var(--slate-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--color-border);
  gap: 8px;

  .socials {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 16px;

    a {
      color: var(--slate-500);
      transition: all 0.2s ease-in-out;

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}
