@use "../../../../../scss/colors" as *;

:host {
  background-color: $dm-black-01;
}

.sidebar-container {
  background-color: $dm-black-01;
  border-right: 1px solid $dm-black-02;

  position: sticky;

  width: 250px;
  padding: 8px;

  .logo {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 8px;

    .logo-svg {
      width: 32px;
      height: 32px;
      img {
        width: 100%;
      }
    }

    span {
      color: $dm-100;
      letter-spacing: 3px;
    }
  }

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .sidebar-menu-options {
      a {
        text-decoration: none;
        color: $dm-100;
        border-radius: 4px;

        display: flex;
        padding: 12px 16px;
        align-items: center;
        gap: 8px;

        &:hover {
          background-color: $dm-black-02;
          color: white;
        }
      }

      .active {
        background-color: $dm-black-02;
        color: white;
      }
    }
  }
}
