<div class="sidebar-container">
  <div class="logo">
    <div class="logo-svg">
      <img src="./assets/opal-logo.svg" alt="" />
    </div>
    <span>OPAL</span>
  </div>
  <ul class="sidebar-menu">
    <li class="sidebar-menu-options">
      <a
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/user/home"
        routerLinkActive="boards-side-menu-option-selected"
      >
        Home
      </a>
    </li>
    <li class="sidebar-menu-options">
      <a
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/user/boards"
        routerLinkActive="active"
      >
        Boards
      </a>
    </li>

    <!-- <li *ngFor="let board of boards$ | async">
      <a
        [routerLink]="['/user', 'boards', board.id]"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
      >
        {{ board.title }}
      </a>
    </li> -->
  </ul>
</div>
