<div
  class="inline-form-container"
  [ngClass]="{ 'inline-form-container-editing': isEditing }"
  (click)="activateEditing()"
>
  <div class="inline-form-text" *ngIf="!isEditing">
    <span *ngIf="defaultText">
      {{ defaultText }}
    </span>

    <span class="placeholder" *ngIf="!defaultText">
      {{ inlineTextPlaceholder }}
    </span>
  </div>

  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    *ngIf="isEditing"
    class="inline-form"
  >
    <input
      *ngIf="inputType === 'input'"
      type="text"
      formControlName="title"
      class="inline-form-input"
      [placeholder]="inputPlaceholder"
    />

    <textarea
      *ngIf="inputType === 'textarea'"
      formControlName="title"
      name=""
      id=""
      class="inline-form-input"
      [placeholder]="inputPlaceholder"
      innerText="reallyyyy"
    ></textarea>

    <button
      *ngIf="hasButton"
      type="submit"
      [disabled]="form.invalid"
      class="inline-form-button"
    >
      {{ buttonText }}
    </button>
  </form>
</div>
