@use "../../../../../../scss/colors" as *;

// .create-task-form,
// .inline-form-container,
// .inline-form {
//   border: none;
//   border-radius: 4px;
//   display: flex;
//   flex-direction: column;
//   gap: 8px;
//   width: 100%;
// }

// .inline-form-container {
//   // .inline-form {
//   //     border: none;
//   //     border-radius: 4px;
//   //     display: flex;
//   //     flex-direction: column;
//   //     gap: 8px;
//   //     width: 100%;
//   //   }

//   //   .inline-form-text {
//   //     background-color: $dm-black;
//   //     border: 1px solid blue;
//   //   }
// }

// .create-task-form .inline-form-input {
//   font-size: 14px;
//   width: 100%;
//   border: 1px solid var(--slate-600);
//   border-radius: 4px;
//   background-color: transparent;
//   color: var(--slate-200);
//   padding: 8px;
//   font-family: "Inter", sans-serif;
//   height: 34px;
//   font-weight: 300;
// }

// .create-task-form .inline-form-input::placeholder {
//   color: var(--slate-500);
// }

// .create-task-form .inline-form-button {
//   background: var(--sky-900);
//   border-radius: 4px;
//   color: var(--slate-300);
//   font-size: 14px;
//   border: 1px solid var(--sky-900);
//   display: block;
//   padding: 8px;
//   cursor: pointer;
//   width: 100%;
// }

// .create-task-form .inline-form-button:hover {
//   background: var(--sky-800);
//   color: var(--slate-200);
// }

// .create-task-form .inline-form-text {
//   color: var(--slate-500);
//   border: 1px solid var(--slate-700);
//   background-color: var(--slate-800);
//   padding: 8px;
//   width: 100%;
//   border-radius: 4px;
//   height: 34px;
// }

// .create-task-form .inline-form-text:hover {
//   border: 1px solid var(--slate-400);
//   color: var(--slate-400);
// }
