.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 16px;

  .logo {
    display: flex;
    align-items: center;
    color: var(--color-text);
    letter-spacing: 4px;
    font-weight: 500;
    gap: 8px;
  }
}

.main-logo {
  display: block;
  height: 43px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.form-container {
  //   background-color: var(--color-background-medium);
  backdrop-filter: blur(15px);
  background-color: rgba(29, 31, 46, 0.5);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
  max-width: 400px;
  width: 400px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 40px;
  color: var(--color-text);
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.login-header {
  text-align: center;
  color: var(--slate-200);
  line-height: 28px;
  font-weight: normal;
  padding-bottom: 32px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .register-link {
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text-weak);
    &:hover {
      color: var(--color-text);
    }

    span {
      color: var(--color-link);
    }
  }
}

.login-input {
  color: var(--slate-300);
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  background-color: rgba(30, 41, 59, 0.75);
  border: 1px solid hsla(0, 0%, 100%, 0.05);
  border-radius: 4px;
  height: 44px;
  padding: 7px;
  -webkit-transition: background-color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s;
  transition: background-color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s;
}

.login-input::placeholder {
  color: var(--slate-400);
}

.login-input:hover {
  border: 1px solid hsla(0, 0%, 100%, 0.5);
}

.btn {
  color: #fff;
  margin-top: 16px;
  padding: 14px;
  text-decoration: none;
  font-size: 16px;
  border: 0px;
  width: 100%;
  cursor: pointer;
}

.bottom-form-links {
  text-align: center;
  font-size: 14px;
  display: flex;
  margin-top: 24px;
  justify-content: center;
}

.errors {
  color: #eb5a46;
  font-size: 14px;
  line-height: 1.333;
  margin-bottom: 5px;
  font-weight: 600;
}

small {
  font-size: 12px;
  color: var(--color-text-weak);
  display: flex;
  //   padding: 16px;
  margin-top: 48px;
  width: 300px;
  line-height: 18px;
}

@media (max-width: 450px) {
  .form-container {
    max-width: 100%;
  }
}
