<div class="login-page">
  <a routerLink="/" class="logo">
    <img src="/assets/opal-logo.svg" alt="" class="main-logo" /> OPAL
  </a>
  <div class="form-container">
    <div class="login-header">
      <h2>Welcome back</h2>
      <a routerLink="/signup" class="register-link"
        >Don't have an account yet? <span>Sign up!</span>
      </a>
    </div>

    <div class="errors" *ngIf="errorMessage">{{ errorMessage }}</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        formControlName="email"
        type="email"
        placeholder="Email"
        class="login-input"
      />

      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        class="login-input"
      />
      <button type="submit" class="btn primary">Log in</button>
    </form>
  </div>

  <small>
    You acknowledge that you read, and agree to our Terms of Service and our
    Privacy Policy.
  </small>
</div>
