@use "../../scss/colors" as *;

:host {
  overflow-x: scroll;
}

h1 {
  color: $dm-100;
  font-size: 24px;
  font-weight: 500;
  padding: 1rem 0;

  .title-length {
    color: $opal-purple;
    font-size: 18px;
  }
}
