<h1 *ngIf="data$ | async as results">
  Results <span class="title-length">({{ results.length }})</span>
</h1>
<div *ngIf="data$ | async as results" class="results-table-container">
  <app-results-table [data]="results" [headers]="headers"></app-results-table>
</div>
