@use "../../../../scss/colors" as *;

:host {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.modal-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  .task-modal-container {
    color: $dm-100;
    z-index: 2;
    position: absolute;
    width: 450px;
    min-height: 230px;
    border-radius: 4px;
    background-color: $dm-black-02;
    border: 1px solid $dm-500;

    .task-modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
    }

    .task-modal-body {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px;
      width: 100%;

      .task-info {
        display: flex;
        align-items: center;
        gap: 16px;

        form {
          display: flex;
          width: 100%;
          .column-select {
            -webkit-appearance: none;
            -moz-appearance: none;
            font-weight: 300;
            flex: 1;
            height: 34px;
            cursor: pointer;
            border-radius: 4px;
            border: 1px solid $dm-500;
            background-color: $dm-500;

            color: white;
            padding: 8px;
            appearance: none;
            position: relative;

            &:hover,
            &:focus {
              background-color: $dm-400;
            }
          }
        }

        .task-label {
          min-width: 100px;
          font-weight: 300;
        }
      }
    }

    .task-modal-footer {
      display: flex;
      justify-content: flex-end;
      padding: 16px;

      .task-delete {
        background-color: $dm-500;
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid $dm-500;
        color: $dm-100;
        font-size: 14px;
        cursor: pointer;

        &:hover {
          color: $opal-purple;
        }
      }
    }
  }
}

.task-modal-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: $dm-black;
  opacity: 0.8;
}
