<div class="modal-container" *ngIf="data$ | async as data">
  <div class="task-modal-container">
    <div class="task-modal-header">
      <h3>Task details</h3>
      <i-feather name="x" class="icon" (click)="goBackToBoard()"></i-feather>
    </div>
    <div class="task-modal-body">
      <div class="task-info">
        <h3 class="task-label">Name:</h3>
        <app-inline-form
          class="task-modal-edit-title"
          [defaultText]="data.task.title"
          [title]="data.task.title"
          (handleSubmit)="updateTaskName($event)"
          inputPlaceholder="Task name"
        ></app-inline-form>
      </div>
      <div class="task-info">
        <h3 class="task-label">In column:</h3>
        <form [formGroup]="columnForm" class="column-select-container">
          <select formControlName="columnId" class="column-select">
            <option *ngFor="let column of data.columns" [ngValue]="column.id">
              {{ column.title }}
            </option>
          </select>
        </form>
      </div>

      <div class="task-info">
        <h3 class="task-label">Description:</h3>
        <app-inline-form
          class="task-modal-edit-description-form"
          [defaultText]="data.task.description!"
          inlineTextPlaceholder="Add more details..."
          (handleSubmit)="updateTaskDescription($event)"
        ></app-inline-form>
      </div>
    </div>

    <div class="task-modal-footer">
      <button class="task-delete" (click)="deleteTask()">Delete task</button>
    </div>
  </div>
</div>

<div class="task-modal-backdrop"></div>
