@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --slate-950: #020617;
  --slate-900: #0f172a;
  --slate-800: #1e293b;
  --slate-700: #334155;
  --slate-600: #475569;
  --slate-500: #64748b;
  --slate-400: #94a3b8;
  --slate-300: #cbd5e1;
  --slate-200: #e2e8f0;
  --slate-100: #f1f5f9;
  --slate-50: #f8fafc;

  --sky-950: #082f49;
  --sky-900: #0c4a6e;
  --sky-800: #075985;
  --sky-700: #0369a1;
  --sky-600: #0284c7;
  --sky-500: #0ea5e9;
  --sky-400: #38bdf8;
  --sky-300: #7dd3fc;
  --sky-200: #bae6fd;
  --sky-100: #e0f2fe;
  --sky-50: #f0f9ff;

  --color-text: #c9d3ee;

  --color-text-weak: #939db8;
  --color-border: #1a1d29;
  --color-background: #0b0c14;
  --color-primary: #5a64d3;
  --color-primary-hover: #353ea6;
  --color-link: #7c87f7;
}

html,
body {
  font-size: 14px;
  height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--color-background);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.btn {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  border: none;
  cursor: pointer;
}

.primary {
  background: var(--color-primary);
  color: var(--slate-50);
}

.primary:hover {
  background-color: var(--color-primary-hover);
}

.secondary {
  color: var(--color-text);
  background-color: transparent;
}

.secondary:hover {
  color: white;
}

.link {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-link);
  transition: all 0.2s ease-in-out;
}

.link:hover {
  color: var(--color-primary-hover);
}
