<form class="search-bar" (submit)="showResults($event)">
  <input
    appAutofocus
    type="text"
    class="search-bar-input"
    placeholder="Search..."
    (input)="searchQuery(searchBarInput.value)"
    #searchBarInput
  />
  <!-- <div appCloseBar *ngIf="toggleResults" class="search-bar-results"> -->
  <ng-container *ngIf="data$ | async as tasks">
    <ul appCloseBar *ngIf="toggleResults" class="search-bar-results">
      <li *ngFor="let task of tasks" class="result-item">
        <a [routerLink]=""> {{ task.name }}</a>
      </li>
    </ul>
  </ng-container>
  <!-- </div> -->
</form>
