@use "../../../../../../scss/colors" as *;
:host {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.search-bar {
  width: 100%;

  .search-bar-input {
    border-radius: 4px;
    color: white;
    width: 100%;
    height: 36px;
    margin: 0 auto;
    max-width: 450px;
    background-color: $dm-black-02;
    padding: 8px 16px;
    border: 1px solid $dm-black-02;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }

  .search-bar-input::placeholder {
    color: $dm-200;
    font-size: 14px;
  }

  .search-bar-input:hover {
    border: 1px solid $dm-200;
  }

  .search-bar-results {
    width: 100%;
    max-width: 450px;
    position: absolute;
    top: 35px;
    background-color: $dm-black-02;
    backdrop-filter: blur(8);
    font-family: inherit;
    color: $dm-100;
    border: 1px solid $dm-500;
    border-radius: 0px 0px 4px 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 4px 0;

    .result-item {
      display: flex;
      width: 100%;

      a {
        display: block;
        padding: 12px 16px;
        width: 100%;
        cursor: pointer;

        &:hover {
          background-color: $dm-500;
        }
      }
    }
  }

  .search-bar-results.toggle {
    display: none;
  }
}
