<div
  class="dashboard-page-container"
  [ngClass]="{ toggle: sidebarState }"
  *ngIf="data$ | async as data"
>
  <h2 class="dashboard-title">
    Hello,
    <span class="user"> {{ (currentUser$ | async)!.username }}!</span>
  </h2>

  <section class="dashboard-all-boards">
    <h2>
      Recent Boards <span class="title-length">({{ data.boards.length }})</span>
    </h2>

    <ul class="list-container" *ngIf="data.boards">
      <li *ngFor="let board of data.boards">
        <a [routerLink]="['/user', 'boards', board.id]"> {{ board.title }} </a>
      </li>
    </ul>
  </section>

  <section class="dashboard-all-tasks">
    <h2>
      Recent Tasks <span class="title-length">({{ data.tasks.length }})</span>
    </h2>
    <ul class="list-container">
      <li *ngFor="let task of data.tasks">
        <a [routerLink]="['/user', 'boards', task.boardId]">
          {{ task.title }}
        </a>
      </li>
    </ul>
  </section>
</div>
