@use "../../../../scss/colors" as *;

:host {
  display: flex;
  width: 100%;
  height: fit-content;
}

.dashboard-page-container {
  flex: 1;
  background-color: transparent;
  transition: all 0.5s ease-in;
  height: 100%;

  .dashboard-title {
    font-size: 24px;
    font-weight: 500;
    padding: 16px 0;
    color: white;
    .user {
      color: $opal-purple;
    }
  }

  .list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px;

    li {
      color: $dm-200;

      border-radius: 4px;
      cursor: pointer;
      background: $dm-black-02;
      border: 1px solid $dm-500;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

      a {
        text-decoration: none;
        color: $dm-100;
        font-size: 14px;
        display: block;
        padding: 16px;
      }

      &:hover {
        border: 1px solid $dm-200;
      }
    }
  }
}

section {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    color: $dm-200;
  }
  .title-length {
    color: $opal-purple;
  }
}
