<div class="board" *ngIf="data$ | async as data">
  <div class="board-header-container">
    <app-inline-form
      [defaultText]="data.board.title"
      [title]="data.board.title"
      (handleSubmit)="updateBoardName($event)"
      class="edit-board-form"
    >
    </app-inline-form>
    <div class="delete-board" (click)="deleteBoard()">Delete board</div>
  </div>
  <div class="columns">
    <div class="column" *ngFor="let column of data.columns">
      <div class="column-title">
        <app-inline-form
          class="edit-column-form"
          [title]="column.title"
          [defaultText]="column.title"
          (handleSubmit)="updateColumn($event, column.id)"
        ></app-inline-form>
        <i-feather
          name="x"
          class="icon"
          (click)="deleteColumn(column.id)"
        ></i-feather>
      </div>

      <div class="tasks-container">
        <div
          *ngFor="let task of getTasksByColumn(column.id, data.tasks)"
          class="task"
          (click)="openTask(task.id)"
        >
          {{ task.title }}
        </div>

        <app-inline-form
          class="create-task-form"
          defaultText="+ add new task"
          [hasButton]="true"
          buttonText="+ add new task"
          inputPlaceholder="Write new task"
          (handleSubmit)="createTask($event, column.id)"
        >
          New task</app-inline-form
        >
      </div>
    </div>
    <app-inline-form
      class="create-column-form"
      defaultText="Create new column"
      [hasButton]="true"
      buttonText="Create new column"
      inputPlaceholder="Write column name"
      (handleSubmit)="createColumn($event)"
    ></app-inline-form>
  </div>
</div>
<router-outlet></router-outlet>
