@use "../../../../scss/colors" as *;

:host {
  display: flex;
  width: 100%;
}

.board {
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;

  .board-header-container {
    min-height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
    flex: 0 1 auto;

    .delete-board {
      color: $dm-100;
      border-radius: 4px;
      font-size: 14px;
      backdrop-filter: blur(4px);
      background-color: $dm-500;
      padding: 8px 16px;
      cursor: pointer;

      &:hover {
        color: $opal-purple;
      }
    }
  }

  .columns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;

    .column {
      max-height: 600px;

      align-self: flex-start;
      color: $dm-100;
      border-radius: 4px;
      background-color: $dm-black-02;
      border: 1px solid $dm-500;

      .column-title {
        font-size: 14px;
        padding: 8px 8px 4px 8px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .tasks-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px;

        .task {
          cursor: pointer;
          background-color: $dm-500;
          padding: 10px 8px;
          width: 100%;
          border-radius: 4px;
          color: white;
          font-weight: 300;

          &:hover {
            background-color: $dm-400;
          }
        }
      }
    }
  }
}
