<nav class="navbar">
  <!-- <div class="navbar-left-side">
    <div (click)="toggleSidebar()">
      <i-feather name="menu" class="menu-icon"></i-feather>
    </div>
  </div> -->

  <div class="search-bar-container">
    <app-search-bar></app-search-bar>
  </div>

  <div class="profile-container" *ngIf="currentUser$ | async as currentUser">
    <div class="user-profile">
      <div class="avatar">{{ currentUser.username[0].toUpperCase() }}</div>
      <i-feather name="chevron-down" class="icon"></i-feather>
    </div>

    <ul appToggleDropdown class="dropdown">
      <li class="nav-bar-link user-info">
        <p>{{ currentUser.username }}</p>
        <p class="email">{{ currentUser.email }}</p>
      </li>
      <li class="nav-bar-link">
        <a (click)="logOut()">Logout </a>
      </li>
    </ul>
  </div>
</nav>
