@use "../../../../../scss/colors" as *;

.navbar {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  backdrop-filter: blur(8px);

  .navbar-left-side {
    display: flex;
    align-items: center;
    gap: 16px;
    .menu-icon {
      color: $opal-purple;
      cursor: pointer;
      padding: 4px;
      border-radius: 4px;

      &:hover {
        background-color: $dm-500;
      }
    }
  }

  .search-bar-container {
    flex: 1;
  }

  .profile-container {
    display: flex;
    position: relative;
    z-index: 10;

    .user-profile {
      cursor: pointer;
      color: $dm-100;
      display: flex;
      gap: 4px;

      & > * {
        pointer-events: none;
      }

      .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background-color: var(--slate-800);
        color: var(--slate-300);
        font-size: 24px;
        cursor: pointer;
        border-radius: 4px;
      }
    }

    .dropdown {
      position: absolute;
      display: none;
      flex-direction: column;
      top: 48px;
      right: 0px;
      padding: 4px 0px;
      border: 1px solid $dm-500;
      border-radius: 4px;
      background-color: $dm-black-02;
      transition: all 0.3s ease-in-out;

      .user-info {
        display: flex;
        flex-direction: column;

        p:nth-child(2) {
          color: $dm-200;
          padding-top: 4px;
        }
      }

      .nav-bar-link {
        padding: 8px 16px;
        display: flex;
        color: white;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;

        &:hover {
          background-color: $dm-500;
          color: white;
        }
      }
    }

    .toggle {
      display: flex;
      z-index: 10;
    }
  }
}
