<!-- <app-top-bar></app-top-bar>
<div class="view">
  <app-sidebar [ngClass]="{ toggle: isSideBarOpen | async }"></app-sidebar>

</div> -->

<app-sidebar [ngClass]="{ toggle: isSideBarOpen | async }"></app-sidebar>
<div class="view">
  <app-top-bar></app-top-bar>

  <router-outlet></router-outlet>
</div>
