@use "../../../../scss/colors" as *;
:host {
  display: flex;
  height: 100%;
}

.view {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  padding: 0 24px;
  background-color: $dm-black;
}
