@use "./scss/colors" as *;

@import "./styles/reset.css";
@import "./styles/global.css";

.icon {
  cursor: pointer;
  padding: 4px;
  color: $opal-purple;
  border-radius: 4px;

  &:hover {
    background-color: $dm-400;
  }
}

.create-task-form,
.create-column-form {
  .inline-form-container {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    .inline-form-text {
      border-radius: 4px;
      background-color: $dm-black;
      border: 1px solid $dm-500;
      padding: 10px 16px;
      color: $dm-200;

      &:hover {
        border: 1px solid $dm-200;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 8px;

      input,
      button {
        padding: 10px 16px;
        border-radius: 4px;
      }
      input {
        background-color: $dm-black;
        border: 1px solid $dm-500;
        color: white;
        &::placeholder {
          color: $dm-100;
          font-family: inherit;
          font-size: 14px;
        }
        &:hover {
          border: 1px solid $dm-200;
        }
      }

      button {
        background-color: $dm-500;
        border: none;
        color: $opal-purple;
        cursor: pointer;
        &:hover {
          background-color: $dm-400;
        }
      }
    }
  }
}

.create-column-form {
  .inline-form-container {
    .inline-form-text {
      background-color: $dm-500;
      color: $opal-purple;
      cursor: pointer;
      text-align: center;

      &:hover {
        background-color: $dm-400;
      }
    }
  }
}

.task-modal-edit-title,
.task-modal-edit-description-form {
  flex: 1;
  .inline-form-container {
    .inline-form-text {
      background-color: $dm-black-01;
      border: 1px solid $dm-500;

      font-weight: 300;
      font-size: 14px;

      border-radius: 4px;
      padding: 8px;
      color: white;
      font-family: "Inter", sans-serif;
      display: flex;
      align-items: center;
      height: 34px;

      &:hover {
        border: 1px solid $dm-200;
      }
    }

    form {
      input {
        background-color: $dm-black-01;

        font-weight: 300;
        font-size: 14px;

        border: 1px solid $dm-200;
        border-radius: 4px;
        padding: 8px;
        color: white;
        font-family: "Inter", sans-serif;
        display: flex;
        flex: 1;
        width: 100%;
      }
    }
  }
}

.edit-column-form {
  padding: 4px 0px;
  width: 100%;

  .inline-form-text {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 4px;
    color: $dm-100;
    display: flex;
    width: 100%;
    cursor: pointer;

    &:hover {
      border: 1px solid $dm-200;
    }
  }

  form {
    input {
      background-color: transparent;
      font-size: 14px;
      color: var(--slate-300);
      border: 1px solid $dm-200;
      padding: 6px 4px;
      border-radius: 4px;
      width: 100%;
    }
  }
}

.edit-board-form {
  .inline-form-container {
    .inline-form-text {
      border: 1px solid transparent;
      border-radius: 4px;
      color: white;
      font-size: 24px;
      padding: 8px;

      &:hover {
        border: 1px solid $dm-200;
      }
    }

    form {
      input {
        width: 100%;
        border: 1px solid $dm-200;
        background-color: transparent;
        border-radius: 4px;
        font-size: 24px;
        padding: 8px;
        color: white;
      }
    }
  }
}

.create-board-form {
  .inline-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dm-black-02;
    border: 1px solid $dm-500;
    color: $dm-100;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
    &:hover {
      border: 1px solid $dm-200;
      color: white;
    }

    form {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;

      justify-content: center;
      gap: 8px;
      input {
        background-color: $dm-black;
        border: 1px solid $dm-400;
        border-radius: 4px;
        padding: 8px;
        font-weight: 300;
        font-family: "Inter", sans-serif;
        color: white;

        &:hover {
          border: 1px solid $dm-200;
        }

        &::placeholder {
          color: $dm-200;
          font-size: 14px;
        }
      }

      button {
        backdrop-filter: blur(4px);
        background: $dm-500;
        padding: 8px 16px;
        border-radius: 4px;
        display: flex;
        border: none;
        align-items: center;
        justify-content: center;
        color: $opal-purple;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;

        &:hover {
          background-color: $dm-400;
        }
      }
    }
  }
}
