main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-image: url("../../assets/hero-cover.png");
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 12rem 2rem 0 2rem;

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;

    .content {
      display: flex;
      flex-direction: column;
      gap: 32px;

      h1 {
        text-align: center;
        font-size: 56px;
        line-height: 54px;
        color: var(--color-text);
        font-weight: 600;
        width: Min(700px, 100%);
        margin: auto;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        max-width: 400px;
        margin: auto;
        color: var(--color-text-weak);
      }
    }

    .cta-btn {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;

      a {
        display: flex;
        font-size: 16px;
        padding: 12px 24px;
      }
    }
  }
}

section {
  padding: 3rem 2rem;

  .container {
    padding: 6rem 0;
    overflow-x: hidden;
    max-width: 1200px;
    margin: auto;

    .content {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 3rem;

      .logo {
        display: flex;
        align-items: center;
        gap: 8px;
        letter-spacing: 4px;
        p {
          color: var(--color-text);
        }
        img {
          width: 24px;
        }
      }

      h2 {
        font-size: 44px;
        line-height: 46px;
        color: var(--color-text);

        font-weight: 500;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        color: var(--color-text-weak);
      }
    }
  }

  .img-container {
    border: 1px solid var(--color-border);
    border-radius: 16px;
  }
}

section:nth-child(3) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 0;
    .content {
      flex: 1;
      padding-bottom: 32px;
    }
  }
}

section:nth-child(4) {
  background-color: var(--slate-50);

  .container {
    .content {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 3rem;
      text-align: center;

      h2 {
        color: var(--slate-900);
      }

      p {
        color: var(--slate-600);
      }
    }

    .articles {
      display: grid;
      grid-template-columns: 300px;
      place-content: center;
      gap: 24px;

      .card {
        padding: 24px;
        background-color: var(--slate-100);

        border-radius: 16px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid var(--slate-100);

        justify-content: space-between;
        min-height: 300px;
        transition: all 0.2s ease-in-out;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),
          0 1px 2px -1px rgb(0 0 0 / 0.1);

        &:hover {
          background-color: var(--slate-100);

          .footer {
            .more {
              background-color: var(--color-primary);
              color: var(--color-text);
            }
          }
        }

        .header {
          color: var(--slate-600);
          flex: 1;
        }

        .body {
          font-size: 18px;
          font-weight: 500;
          padding-bottom: 24px;
        }

        .footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .more {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 1px solid var(--slate-200);
            display: flex;
            align-items: center;
            justify-content: center;

            // padding: 8px;
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 3rem;
    }
  }
}

section:nth-child(5) {
  .container {
    .content {
      align-items: center;
      text-align: center;

      h2 {
        width: Min(340px, 100%);
        margin: auto;
      }
    }

    .cta-btn {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;

      a {
        display: inline-block;
        font-size: 16px;
        padding: 12px 24px;
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    padding: 4rem;
    .hero {
      padding-top: 8rem;
      .content {
        h1 {
          line-height: 100px;
          font-size: 100px;
        }
        p {
          font-size: 20px;
          line-height: 34px;
        }
      }

      .cta-btn {
        margin-top: 32px;
        button {
          font-size: 18px;
          padding: 16px;
        }
      }
    }
  }

  section {
    padding: 6rem;

    margin: 5rem 0;

    .container {
      .content {
        h2 {
          line-height: 56px;
          font-size: 58px;
        }
        p {
          font-size: 18px;
          line-height: 27px;
        }
      }
    }
  }

  section:nth-child(4) {
    .container {
      .articles {
        width: Min(900px, 100%);
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 16px;
        padding: 2rem 0;

        .card {
          align-items: flex-start;
          min-height: 300px;
        }
      }
    }
  }

  section:nth-child(5) {
    .container {
      .content {
        h2 {
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  section:nth-child(3) {
    .container {
      display: grid;
      grid-template-columns: 500px 1fr;
    }
  }
}
