<app-header></app-header>
<main>
  <section class="hero">
    <div class="content">
      <h1>Get team work done.</h1>
      <p>
        Organize and collaborate with projects from beginning to end in a
        flexible way.
      </p>
    </div>

    <div class="cta-btn">
      <a class="btn primary" routerLink="/signup">Sign up for free</a>
      <a class="btn secondary" routerLink="/signup">Book an enterprise demo</a>
    </div>
  </section>
</main>

<section>
  <div class="container">
    <div class="content">
      <div class="logo">
        <img src="/assets/opal-logo.svg" />
        <p>OPAL</p>
      </div>
      <h2>Information at a glance</h2>
      <p>
        Dive into the details by adding comments, attachments, due dates, and
        more directly to custom boards. Collaborate on projects from beginning
        to end.
      </p>
      <a href="" class="link">Explore logs</a>
    </div>
    <div class="img-container">
      <img src="/assets/opal-ui.svg" />
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="content">
      <h2>Built for Dev teams</h2>
      <p>
        Discover hundreds of technical articles & open-source projects and
        radically improve your stack.
      </p>
    </div>

    <ul class="articles">
      <li class="card">
        <div class="header">Node</div>
        <p class="body">A complete guide to set up your Node App</p>
        <div class="footer">
          <span>User</span> <a href="" class="more">↗</a>
        </div>
      </li>
      <li class="card">
        <div class="header">Debug</div>
        <p class="body">How to Debug with Opal Debug+</p>
        <div class="footer">
          <span>User</span> <a href="" class="more">↗</a>
        </div>
      </li>
      <li class="card">
        <div class="header">Scale Angular Apps</div>
        <p class="body">How to track your Angular App with Opal</p>
        <div class="footer">
          <span>User</span> <a href="" class="more">↗</a>
        </div>
      </li>
    </ul>

    <div class="bottom">
      <a href="" class="link">Explore articles</a>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="content">
      <div class="logo">
        <img src="/assets/opal-logo.svg" />
        <p>OPAL</p>
      </div>
      <h2>Better projects start today</h2>
      <p>
        Organize and collaborate with projects from beginning to end in a
        flexible way.
      </p>
    </div>

    <div class="cta-btn">
      <a class="btn primary" routerLink="/signup">Sign up for free</a>
      <a class="btn secondary" routerLink="/signup">Book an enterprise demo</a>
    </div>
  </div>
</section>
<app-footer></app-footer>
