@use "../../scss/colors" as *;

:host {
  display: flex;
  width: 100%;
}

.boards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  .boards-section-header {
    display: flex;

    h2 {
      color: white;
      font-size: 24px;
      font-weight: 500;
      padding: 16px 0;
    }
  }

  .boards-tile-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;

    .board-tile {
      background: var(--slate-800);
      display: flex;
      flex-direction: column;
      text-decoration: none;
      border-radius: 4px;
      cursor: pointer;
      border: 1px solid $dm-500;
      &:hover {
        border: 1px solid $dm-200;
      }

      .board-tile-details-name {
        font-size: 14px;
        overflow: hidden;
        font-weight: 400;
        width: 100%;
        word-wrap: break-word;
        color: var(--slate-300);
        padding: 16px;
        background-color: $dm-400;
        border-radius: 0px 0px 4px 4px;
      }

      .board-cover {
        width: 100%;
        height: 150px;
        background-color: $dm-black-02;
        border-radius: 4px 4px 0px 0px;
      }
    }
  }
}
