<div class="boards">
  <div class="boards-section-header">
    <h2>My Boards</h2>
  </div>
  <div class="boards-tile-list">
    <app-inline-form
      class="create-board-form"
      defaultText="Create new board"
      inputPlaceholder="New board name..."
      (handleSubmit)="createBoard($event)"
      [hasButton]="true"
      buttonText="Create new board"
    ></app-inline-form>

    <a
      [routerLink]="['/user/boards', board.id]"
      *ngFor="let board of boards"
      class="board-tile"
    >
      <div class="board-cover"></div>
      <div class="board-tile-details-name">
        {{ board.title }}
      </div>
    </a>
  </div>
</div>
